<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>${Player 1} Health {100%}</h1>
        <h1>${Player 2} Health {100%}</h1>
        <button id='p1attack'>P1 Attack</button>
        <button id='p2attack'>P2 Attack</button>
    </body>
</html>